/* 
Color de fondo (background-color): #6fa363

Color de texto: Negro

Links: 
	font-style: italic
	font: 1em 'Segoe UI','Century Gothic'

Links tipo Menú:
	font: 1em 'Segoe UI','Century Gothic';
	color: black;
	font-style: italic;
	font-weight: 400;
	text-decoration:none;

Texto cabecera:
	font: 1.5em 'Segoe UI','Century Gothic';
	color: black;
	font-weight: 400;


Todos los botones usan estos colores: (Incluso los de formulario)
	background:#1b9752; (Color del botón)
	color:white; (Color de Fuente)


Efecto Hover para pequeña animación:

:hover{
	background:#044a23;
	color:white;
}

Inputs de Búsqueda, Formularios y otros:

	cursor: text !important;
	border-radius: 2px;
	border:none;
	box-sizing: border-box !important;
	box-shadow: none !important;
	outline: none !important;
	font-size: 15px !important;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: #898989;

*/
.areas_boton {  
	display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem 1rem;
  max-width: 100%;
  grid-auto-flow: row;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  grid-template-areas:
    "area_boton_1 area_boton_2";
}
body {
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }
.modal{
	margin-left: -10rem;
}
.area_boton_1 { 
	grid-area: area_boton_1; 
}

.area_boton_2 { 
	grid-area: area_boton_2;
 }
 #boton_1 {
	width: 90%;
  }
  #boton_2 {
	 width: 90%;
   }

.container, .areas
{
    margin: auto;
	max-width: 100%;
	margin-top: 5%;
	background-color: #DADED3;
	margin-right: 1%;
	border: 1px solid #dadce0;
	box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
	border-radius: 12px;
	padding: 16px;
    margin-top: 2%;
    margin-bottom: 2%
}
#body
{
    background-color:#6fa363
}
.fondo
{
    background-color:#6fa363
}

.table
{
    margin-bottom: 5%
}

.btn-success {
    color: #fff;
	background: #1b9752 ;
    border-color: #1b9752;
}
.btn-danger
{
	color: #fff;
	background:#D64455;
	border-color:#D64455;
}

	.img{
		margin:10px auto;
		border-radius:5px;
		border: 1px solid #999;
		padding:13px;
		width:80%;
		height:40rem;
		background-size: 100% 100%;
		background-repeat:no-repeat;
		background:url(/Style/ejemplo_diagrama.png);
		background-size: cover;
		}
	  .img img{
		width: 100%;
	  }
	  @media all and (min-width: 500px) and (max-width: 1000px)
	  {  
	  .img{
		margin:20px auto;
		border-radius:5px;
		border: 1px solid #999;
		padding:13px;
		width:300px;
		height:300px;
		background-size: 100% 100%;
		background-repeat:no-repeat;
		background:url(/Style/ejemplo_diagrama.png);
		background-size: cover;
		
		}
	  }
	  .img img{
		 width:100%;
	  }
hr {
	height: 0px;
	background-color: black;
  }
  #operaciones {
	
    width: 100%;
    height: 80%;
    overflow: scroll;
}

.input-info{
	width: 20%;

}
.form-select{
	margin-top: 1rem;
}

.modal-content{
	width: 100%;
	height: 100%;
}
.etq{
	margin-top: 1rem;
	
}
.modal-content{
	width: 50rem;
	height: 100%;
}
.logo{
	margin-left: 2rem;
}
.logosAyuda
{
	float:left;
	height:5% ;
	width:5%;
}
.tituloAyuda
{
margin-left: 8%;
}
.infoAyuda
{
	margin-left: 8%;
}
.informacion
{
	margin-left: 1%;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}

.imgPrincipal
{
	width:30%;
	height:30%;
	margin-top: 5%;
	margin-bottom: 5%;
}

/* MENU STYLE
.container2{
font: 1em 'Segoe UI','Century Gothic';
	color: black;
	font-style: italic;
	font-weight: 400;
	text-decoration:none;
}
*/